.main-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    }

    .list-button {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 40px;
    }

    .gen-button {
        width: auto;
        font-size: 20px;
    }
