:root {
  --posX: 0;
  --posY: 0;
}

.pikatroll {
    animation: 3s infinite alternate slidein;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      transform: scale(3);
    }
  
    to {
      margin-left: 0%;
      transform: scale(1);
    }
  }

  .sachaa {
    animation: 3s infinite tourne;
  }
  @keyframes tourne {
    0% {
      opacity: 1;
      transform: rotate(0deg);
    }
    100% {
      opacity: 0;
      transform: rotate(360deg);
    }
  }

  .fero {
    filter: contrast(120%) grayscale(100%);
    transition: all .2s linear;
  }
  .fero:hover {
    filter: contrast(100%) grayscale(0);
  }

.spectrum {
  opacity: 0;
  position: absolute;
  left: var(--posX);
  top: var(--posY);
  transform: translate(-50%, -50%);
  z-index: 100;
}

.appear-animation {
  animation: appears 200ms linear;
}

@keyframes appears {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
