.evo-chain {
  grid-area: evo;
  width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.evo-chain-arrow {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.61);
}

@media screen and (max-width: 600px) {
  .evo-chain {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .evo-chain-arrow {
    transform: rotate(0.25turn);
  }
}
