.evo-chain {
  grid-area: evo;
  width: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.evo-level-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.evo-chain-arrow {
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.61);
  margin: 15px;
}

@media screen and (max-width: 600px) {
  .evo-chain {
    width: 100%;
    flex-direction: column;
  }

  .evo-level-container {
    flex-direction: column;
  }

  .evo-chain-arrow {
    transform: rotate(0.25turn);
  }
}
