.main-header {
    background-image: url('../assets/ballfont.jpg');
    background-size: cover;
    background-position: center;

    height: 40vh;
}

.header-title {
    text-align: center;
    font-size: 8vh;
    color: white;
    font-family: Marker Felt, fantasy;
    text-shadow: 2px 2px 2px black;
}