.main-header {
  background-image: url("../assets/ballfont.jpg");
  background-size: cover;
  background-position: center;
  height: 40vh;
}

.header-title {
  text-align: center;
  font-size: 8vh;
  color: white;
  font-family: Marker Felt, fantasy;
  text-shadow: 2px 2px 2px black;
}

.header-navlink {
  text-decoration: none;
}

.parents-search {
  /* height: 70px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.3));
}

#search-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 40px;
  border-radius: 10px;
  text-align: center;
  border: none;
  outline: none;
  box-shadow: -1px 5px 3px -3px rgba(64, 37, 37, 0.71) inset;
  font-family: "Roboto", sans-serif;
  color: #918c89;
  background-color: rgb(241, 241, 241);
}

.search-result ul {
  border-radius: 30px;
  list-style-type: none;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.507);
  backdrop-filter: blur(4px);
  width: 20vh;
  position: absolute;
  transform: translateX(-50%);
  z-index: 5;
  max-height: 484px;
  overflow-y: scroll;
}

.search-result ul::-webkit-scrollbar {
  display: none;
}

.search-result li {
  padding: 5px 0px;
}

.search-result li a:hover {
  color: rgb(85, 147, 218);
}

.suggest {
  font-family: "lato", sans-serif;
  text-decoration: none;
  color: white;
}
