
.details-card {
  padding: 50px 0px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: raw;
  font-family: "pokemonGB";
}

.details-primary-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 50%;
}

.details-primary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30em;
  min-height: 400px;
  
}

.details-name {
  font-size: 30px;
}

.details-sprites {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}

/* .details-gif {
  width: 150%;
}

.details-img {
  width: 100px;
} */

.types {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.type {
  width: 100px;
}

.details-text {
  width: 500px;
}

.details-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-height: 250px;
}

.details-stats {
  background: rgb(56, 56, 56);
  color: silver;
  width: 22em;
  padding: 10px;
  border: solid white 2px;
  border-radius: 10px;
}

.stat-title {
  font-size: 20px;
}

.details-stats-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  height: 100px;
}

.stat {
  margin: 5px;
}

.details-size {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details-grass {
  background: linear-gradient(
    white,
    10%,
    rgb(100, 190, 90),
    75%,
    rgb(215, 245, 0)
  );
}

.details-fire {
  background: linear-gradient(
    white,
    10%,
    rgb(255, 160, 85),
    75%,
    rgb(245, 240, 40)
  );
}

.details-water {
  background: linear-gradient(
    white,
    10%,
    rgb(80, 145, 215),
    75%,
    rgb(75, 220, 230)
  );
}

.details-bug {
  background: linear-gradient(
    white,
    10%,
    rgb(145, 195, 45),
    75%,
    rgb(105, 110, 0)
  );
}

.details-dark {
  background: linear-gradient(
    white,
    10%,
    rgb(90, 85, 100),
    75%,
    rgb(82, 64, 49)
  );
}

.details-dragon {
  background: linear-gradient(
    white,
    10%,
    rgb(5, 110, 195),
    75%,
    rgb(130, 115, 240)
  );
}

.details-electric {
  background: linear-gradient(
    white,
    10%,
    rgb(245, 210, 60),
    75%,
    rgb(245, 245, 185)
  );
}

.details-fairy {
  background: linear-gradient(
    white,
    10%,
    rgb(235, 145, 230),
    75%,
    rgb(245, 225, 230)
  );
}

.details-fighting {
  background: linear-gradient(
    white,
    10%,
    rgb(205, 65, 110),
    75%,
    rgb(215, 185, 100)
  );
}

.details-flying {
  background: linear-gradient(white, 10%, rgb(145, 170, 225), 75%, white);
}

.details-ghost {
  background: linear-gradient(
    white,
    10%,
    rgb(80, 105, 175),
    75%,
    rgb(125, 160, 200)
  );
}

.details-ground {
  background: linear-gradient(
    white,
    10%,
    rgb(220, 120, 70),
    75%,
    rgb(200, 185, 140)
  );
}

.details-ice {
  background: linear-gradient(
    white,
    10%,
    rgb(115, 205, 195),
    75%,
    rgb(205, 235, 245)
  );
}

.details-normal {
  background: linear-gradient(
    white,
    10%,
    rgb(145, 155, 165),
    75%,
    rgb(225, 225, 225)
  );
}

.details-poison {
  background: linear-gradient(
    white,
    10%,
    rgb(170, 105, 200),
    75%,
    rgb(80, 145, 215)
  );
}

.details-psychic {
  background: linear-gradient(
    white,
    10%,
    rgb(250, 115, 120),
    75%,
    rgb(175, 95, 180)
  );
}

.details-rock {
  background: linear-gradient(
    white,
    10%,
    rgb(200, 185, 140),
    75%,
    rgb(100, 100, 100)
  );
}

.details-steel {
  background: linear-gradient(
    white,
    10%,
    rgb(90, 145, 165),
    75%,
    rgb(200, 200, 200)
  );
}

@media screen and (max-width: 750px) {

  .details-card {
    padding: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-family: "pokemonGB";
    
  }
  
  .details-primary-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start; 
    width: 100%; 
  }
  
  .details-primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 400px;
    height: 100%;
    
  }
  
  .details-name {
    font-size: 30px;
  }
   
  .details-sprites {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
  }
  
  .details-gif {
    width: 150%;
  }
  
  .details-img {
    width: 100px;
  } 
  
  .types {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .type {
    width: 100px;
  }
  
  .details-text {
    width: 90%;
  } 
   
  .details-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    min-height: 250px;
    padding-top: 40px;
  }
  
  .details-stats {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: rgb(56, 56, 56);
    color: silver;
    width: 22em;
    padding: 10px;
    border: solid white 2px;
    border-radius: 10px;
  }
  
  .stat-title {
    font-size: 20px;
  }
  
  .details-stats-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    height: 100px;
    
  }
  
  .stat {
    margin: 5px;
  }
  
  .details-size {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .nav-buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
