.infos-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 50%;
}

.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 30em;
  min-height: 400px;
}

.infos-name {
  font-size: 30px;
  margin-bottom: 50px;
}

.type {
  margin: 20px;
}

.infos-size {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 20px;
}

.infos-text {
  width: 500px;
  margin: 20px;
  min-height: 100px;
}

@media screen and (max-width: 750px) {
  .infos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  .infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 400px;
    height: 100%;
  }

  .infos-name {
    font-size: 30px;
  }

  .infos-text {
    width: 90%;
  }

  .infos-size {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
