.infos-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  width: 50%;
}

.infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30em;
  min-height: 400px;
}

.infos-name {
  font-size: 30px;
}

.infos-text {
  width: 500px;
}

.infos-size {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
