.details-card {
  padding-top: 20px;
  text-align: center;
}

.details-name {
  font-size: 30px;
  font-family: "pokemonGB";
}

.details-gif {
  width: 70px;
  padding: 10px;
}

.details-img {
  width: 100px;
}

.details-grass {
  background: linear-gradient(
    white,
    10%,
    rgb(100, 190, 90),
    rgb(151, 236, 118)
  );
}

.details-fire {
  background: linear-gradient(white, 10%, rgb(255, 160, 85), rgb(233, 221, 61));
}

.details-water {
  background: linear-gradient(white, 10%, rgb(80, 145, 215), rgb(21, 129, 201));
}

.details-bug {
  background: linear-gradient(
    white,
    10%,
    rgb(145, 195, 45),
    rgb(193, 226, 170)
  );
}

.details-dark {
  background: linear-gradient(white, 10%, rgb(90, 85, 100), rgb(82, 64, 49));
}

.details-dragon {
  background: linear-gradient(white, 10%, rgb(5, 110, 195), rgb(21, 129, 201));
}

.details-electric {
  background: linear-gradient(white, 10%, rgb(245, 210, 60), rgb(21, 129, 201));
}

.details-fairy {
  background: linear-gradient(
    white,
    10%,
    rgb(235, 145, 230),
    rgb(21, 129, 201)
  );
}

.details-fighting {
  background: linear-gradient(white, 10%, rgb(205, 65, 110), rgb(21, 129, 201));
}

.details-flying {
  background: linear-gradient(
    white,
    10%,
    rgb(145, 170, 225),
    rgb(21, 129, 201)
  );
}

.details-ghost {
  background: linear-gradient(white, 10%, rgb(80, 105, 175), rgb(21, 129, 201));
}

.details-ground {
  background: linear-gradient(white, 10%, rgb(220, 120, 70), rgb(21, 129, 201));
}

.details-ice {
  background: linear-gradient(
    white,
    10%,
    rgb(115, 205, 195),
    rgb(21, 129, 201)
  );
}

.details-normal {
  background: linear-gradient(
    white,
    10%,
    rgb(145, 155, 165),
    rgb(21, 129, 201)
  );
}

.details-poison {
  background: linear-gradient(
    white,
    10%,
    rgb(170, 105, 200),
    rgb(21, 129, 201)
  );
}

.details-psychic {
  background: linear-gradient(
    white,
    10%,
    rgb(250, 115, 120),
    rgb(21, 129, 201)
  );
}

.details-rock {
  background: linear-gradient(
    white,
    10%,
    rgb(200, 185, 140),
    rgb(21, 129, 201)
  );
}

.details-steel {
  background: linear-gradient(white, 10%, rgb(90, 145, 165), rgb(21, 129, 201));
}
