.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-height: 250px;
}

.stats-board {
  background: rgb(56, 56, 56);
  color: silver;
  width: 22em;
  padding: 10px;
  border: solid white 2px;
  border-radius: 10px;
}

.stats-board-title {
  font-size: 20px;
}

.stats-board-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  height: 100px;
}

.stat {
  margin: 5px;
}
