.details-card {
  padding-top: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.details-name {
  font-size: 30px;
  font-family: "pokemonGB";
}

.details-gif {
  width: 70px;
  padding: 10px;
}

.details-img {
  width: 100px;
}

.types {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}

.type {
  width: 100px;
}

.details-grass {
  background: linear-gradient(
    white,
    10%,
    rgb(100, 190, 90),
    65%,
    rgb(215, 245, 0)
  );
}

.details-fire {
  background: linear-gradient(
    white,
    10%,
    rgb(255, 160, 85),
    65%,
    rgb(245, 240, 40)
  );
}

.details-water {
  background: linear-gradient(
    white,
    10%,
    rgb(80, 145, 215),
    65%,
    rgb(75, 220, 230)
  );
}

.details-bug {
  background: linear-gradient(
    white,
    10%,
    rgb(145, 195, 45),
    65%,
    rgb(105, 110, 0)
  );
}

.details-dark {
  background: linear-gradient(
    white,
    10%,
    rgb(90, 85, 100),
    65%,
    rgb(82, 64, 49)
  );
}

.details-dragon {
  background: linear-gradient(
    white,
    10%,
    rgb(5, 110, 195),
    65%,
    rgb(130, 115, 240)
  );
}

.details-electric {
  background: linear-gradient(
    white,
    10%,
    rgb(245, 210, 60),
    65%,
    rgb(245, 245, 185)
  );
}

.details-fairy {
  background: linear-gradient(
    white,
    10%,
    rgb(235, 145, 230),
    65%,
    rgb(245, 225, 230)
  );
}

.details-fighting {
  background: linear-gradient(
    white,
    10%,
    rgb(205, 65, 110),
    65%,
    rgb(215, 185, 100)
  );
}

.details-flying {
  background: linear-gradient(white, 10%, rgb(145, 170, 225), 65%, white);
}

.details-ghost {
  background: linear-gradient(
    white,
    10%,
    rgb(80, 105, 175),
    65%,
    rgb(125, 160, 200)
  );
}

.details-ground {
  background: linear-gradient(
    white,
    10%,
    rgb(220, 120, 70),
    65%,
    rgb(200, 185, 140)
  );
}

.details-ice {
  background: linear-gradient(
    white,
    10%,
    rgb(115, 205, 195),
    65%,
    rgb(205, 235, 245)
  );
}

.details-normal {
  background: linear-gradient(
    white,
    10%,
    rgb(145, 155, 165),
    65%,
    rgb(225, 225, 225)
  );
}

.details-poison {
  background: linear-gradient(
    white,
    10%,
    rgb(170, 105, 200),
    65%,
    rgb(80, 145, 215)
  );
}

.details-psychic {
  background: linear-gradient(
    white,
    10%,
    rgb(250, 115, 120),
    65%,
    rgb(175, 95, 180)
  );
}

.details-rock {
  background: linear-gradient(
    white,
    10%,
    rgb(200, 185, 140),
    65%,
    rgb(100, 100, 100)
  );
}

.details-steel {
  background: linear-gradient(
    white,
    10%,
    rgb(90, 145, 165),
    65%,
    rgb(200, 200, 200)
  );
}
