.team-main {
    padding-top: 20vh;
    background-image: url('https://images.gamebanana.com/img/ss/mods/5f3ad2ae45e16.jpg');
    background-size: cover;
    background-position: center;
    height: 90vh;
    width: 100%;
}

.team-title {
    text-align: center;
    font-size: 8vh;
    color: white;
    font-family: Marker Felt, fantasy;
    text-shadow: 2px 2px 2px black;
}
.teamlist-main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
}